<a href="/logout">Logout</a>
<a href="/home">Home</a>





<form action="/addingauction" method="post">
    <h3>New Auction:</h3>
    Product Name:<input type="text" name="productname"><br><br>
    Starting Bid:<input type="number" name="startingbid"><br><br>
    Description: <textarea name="description" rows="10" cols="30"></textarea><br><br>
    End Date:<input type="date" name="enddate"> 
    
    <button>Create Auction</button>
</form>
